@use "styles/utils/colors.scss";

.wrapper {
  width: 100%;
  position: relative;
  padding: 1rem;
  background-color: colors.$spring;
}

.population {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.year {
  position: absolute;
  right: 3rem;
  bottom: 1.5rem;
}

.graph {
  padding: 2rem;
}
