.wrapper {
  width: 100%;
  position: relative;
}

.population {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.year {
  position: absolute;
  right: 3rem;
  bottom: 1.5rem;
}

.graph {
  padding: 2rem;
}
