@use "styles/utils/mq.scss";
@use "styles/utils/colors.scss";
@use "styles/utils/fonts.scss";

.h1 {
  width: 100%;
  padding-bottom: 2rem;
}

.text {
  color: colors.$cherry;
  font-size: 2rem;
  font-family: fonts.$kosugi;
  margin: 0;

  @include mq.mq("md") {
    font-size: 1.5rem;
  }
}

.underline {
  width: 100%;
  border-top: 2px solid colors.$stone;
}
