@use "styles/utils/mq.scss";

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;

  @include mq.mq("sm") {
    grid-template-columns: repeat(3, 1fr);
    font-size: 0.8rem;
  }
}
