@use "styles/utils/colors.scss";

.main {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.graph {
  width: 60%;
  padding: 1rem;
}

.prefForm {
  width: 40%;
  padding: 1rem;
}
