@use "styles/utils/mq";
@use "styles/utils/colors.scss";

.main {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  gap: 2rem;

  @include mq.mq("md") {
    flex-direction: column-reverse;
  }

  @include mq.mq("sm") {
    padding: 1rem;
    gap: 1rem;
  }
}

.graph {
  width: 60%;

  @include mq.mq("md") {
    width: 100%;
  }
}

.prefForm {
  width: 40%;

  @include mq.mq("md") {
    width: 100%;
  }
}
