@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500&family=Kosugi+Maru&family=ZCOOL+QingKe+HuangYou&display=swap");

$dosis: "Dosis";
$zcool: "ZCOOL QingKe HuangYou";
$kosugi: "Kosugi Maru";
